include commons/doctype.jade
html
  include commons/head.jade
  body
    include commons/header.jade
    include commons/nav.jade
    include commons/h1.jade

    include commons/breadCrumbs.jade

    section.article
    
      .row.text
        p С другой стороны постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации модели развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. 
        p Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа направлений прогрессивного развития. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. 
        
      .row.rightImg
        img(src="#{ARTICLES}photo_001.jpg")
        p Разнообразный и богатый опыт дальнейшее развитие различных форм dfdfdfdfдеятельности обеспечивает широкому кругу (специалистов) участие в формирован модели развития.
        p Равным образом укрепление и развитие структуры требуют sdfdfопределения и уточнения форм развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности влечет за собой процfс внедрения и модернизации позиций.
        
        
      .row.leftImg
        img(src="#{ARTICLES}photo_002.jpg")
        p Разнообразный и богатый опыт дальнейшее развитие различных форм dfdfdfdfдеятельности обеспечивает широкому кругу (специалистов) участие в формирован модели развития.
        p Равным образом укрепление и развитие структуры требуют sdfdfопределения и уточнения форм развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности влечет за собой процfс внедрения и модернизации позиций.
      
      .row.imgs
        img(src="#{ARTICLES}photo_003.jpg")
        img(src="#{ARTICLES}photo_003.jpg")
        img(src="#{ARTICLES}photo_003.jpg")
        p бразом консультация с широким активом позволяет оценить значение направлений прогрессивно
        
      .var_page
        .paginator
          .gb_nav
            a.page_nav(href="#") Предыдущая статья
            p «Полезность газона»
          .gb_nav
            a.page_nav(href="#")
              strong Все статьи
          .gb_nav
            a.page_nav(href="#") Следующая статья
            p «Хуй пизда, Джигурда?»

    include commons/footer.jade