include commons/doctype.jade
html(lang="ru")
  include commons/head.jade
  body
    include commons/header.jade
    include commons/nav.jade
    include commons/h1.jade
    
    section.text-about После данного блока идёт небольшой текстовый блок на два-три предложения, передающий основной посыл о принципах работы компании (текст от нас, запланироваь место в макете).
    
    section.kind-of-works-main
      h2 
        span Все виды работ от начала до конца под ключ
      - var h3 = "Проектирование участка <br>и ландшафтное проектирование";
      - var img = "photo_001.jpg";
      ul
        - for (var i = 0; i < 8; i++)
          li
            a(href="#")
              h3 !{h3}
              img(src="#{WORKS}photo_001.jpg")
              .text Принцип восприятия непредвзято создает паллиативный интеллект, условно. Концепция ментально оспособляет закон внешнего мира. Сомнение раскладывает на элементы неоднозначный структурализм.   предыдущему, конфликт, в рамках сегодняшних воззрений, ясен не всем.
    section.chema
      h2 
        span Текстово-схематичный блок
      .row
        .col.one
          h3 Если часток пустой:
          p Тут будет много текста почему нужно сделать так так и так и не вот так и так и почему (немного разбавим инфо-графикой, может иконки какие нибудь, Наташа скинет позже текст и тд)
        .col.two
          h3 Если Озеленению и прочей шляпе нужен уход:
          p А тут будет много текста и картинок с иконками, что за чем следует и тд, если уже что-то на участке имеется, как правильно и тд провести работы (тексты и картинки наташа тоже позже сбросит)
    section.how-to
      h2 
        span Как мы работаем
      .row
        .col.img
          img.left(src="#{HOW_TO}photo_001.png")
        .col.list
          .ul-wrapper.right
            h3 Предзамер и проектировка
            ul
              li
                i.mobile-icon
                span Встерча или звонок
              li
                i.linear-icon
                span Предварительный замер
              li
                i.calc-icon
                span Рассчет стоимости проекта
              li
                i.docs-icon
                span Заключение догоовра на проекта
              li
                i.paint-icon
                span Отрисовка
              li
                i.chema-icon
                span Сдача проектных чертежей
              li
                i.coins-icon
                span Окончательный рассчёт
    section.how-to
      .row
        .col.list
          .ul-wrapper.left
            h3 Исполнение работ
            ul
              li
                i.flower_2-icon
                span Уточнительный замер по видам работ
              li
                i.cutting-icon
                span Рассчет стоимости работ
              li
                i.bailer-icon
                span Заключение договора и предоплата
              li
                i.hose-icon
                span Закупка материалов
              li
                i.wave-icon
                span Осуществление работ <br>специальными компаниями
              li
                i.flower_3-icon
                span Сдача результатов работ
              li
                i.column-icon
                span Окончательный рассчёт
        .col.img
          img.right(src="#{HOW_TO}photo_002.jpg")
    section.last-project
      h2
        span Недавние проекты
      ul
        li
          a(href="#")
            img(src="#{LAST_PROJECT}photo_001.jpg")
            h3 Наименование проекта
            p Те, кому когда-либо приходилось делать в квартире ремонт, наверное, обращали внимание на старые газеты, наклеенные под обоями. Как правило, пока все статьи не перечитаешь
        li
          a(href="#")
            img(src="#{LAST_PROJECT}photo_001.jpg")
            h3 Наименование проекта
            p Те, кому когда-либо приходилось делать в квартире ремонт, наверное, обращали внимание на старые газеты, наклеенные под обоями. Как правило, пока все статьи не перечитаешь
        li
          a(href="#")
            img(src="#{LAST_PROJECT}photo_001.jpg")
            h3 Наименование проекта
            p Те, кому когда-либо приходилось делать в квартире ремонт, наверное, обращали внимание на старые газеты, наклеенные под обоями. Как правило, пока все статьи не перечитаешь
      a.btn(href="#") Посмотреть все
    section.feedback-main
      h2
        span Отзывы наших клиентов
      .row
          .col.one
            h3 Василий Иванович Петушков
            p Существуют две основные трактовки понятия «текст»: «имманентная» (расширенная, философски нагруженная) 
            p и «репрезентативная» (более частная). Имманентный подход подразумевает отношение к тексту как к автономной реальности, нацеленность на выявление его внутренней 
            p структуры. Репрезентативный — рассмотрение текста как особой формы представления знаний о внешней тексту действительности.
            a.btn(href="#") Читать все отзывы
          .col.two
            .pic
              .img
                img(src="#{FEEDBACK}photo_001.jpg")
                p Досталось наследство от бабули
            .pic
              .img
                img(src="#{FEEDBACK}photo_002.jpg")
                p Результат выполнения работ...
      .text
        img(src="#{FEEDBACK}photo_003.jpg")
        p Читать такой текст неинтересно, то все внимание переключится на детали оформления. Замечательный генератор гироскопическо-почвоведческого бреда работает по адресу referats.yandex.ru 08 Каждая студия выбирает свой стиль работы с рыбой.
        p Автор считает, что все тексты нужно писать самому дизайнеру (правая колонка). У нас в студии принято составлять такую рыбу, чтобы она сама по себе вызывала желание принять дизайн. Поэтому очень часто рыба становится частью готового проекта — так она нравится клиенту

    section.contacts
      h2
        span Наши контакты
    include commons/map.jade
        
    section.about-text-main
      .row
        .col
          img(src="#{ABOUT}photo_001.jpg")
          p Повторяющийся паттерн (узор) текста — один из самых плохих эффектов при показе дизайна. 07 Текст ни о чем (пример в средней колонке) — хороший способ попытаться сосредоточить внимание заказчика на дизайне, форме, верстке, цвете. 
          p Некоторые вместо текста вставляют философскую бессмыслицу. Так как читать такой текст неинтересно, то все внимание становится частью готового проекта — так она нравится клиенту.
        .col
          img(src="#{ABOUT}photo_002.jpg")
          p  переключится на детали оформления. Замечательный генератор гироскопическо-почвоведческого бреда работает по адресу referats.yandex.ru 08 Каждая студия выбирает свой стиль работы с рыбой. 
          p Автор считает, что все тексты нужно писать самому дизайнеру (правая те колонка). У нас в студии принято составлять такую рыбу, чтобы она сама по себе вызывала желание принять дизайн. Поэтому очень часто рыба 
    include commons/footer.jade